@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Paris2024-Semibold';
    src: url('Paris2024-Semibold.woff2') format('woff2');
}

*{
    font-family: 'Paris2024-Semibold', sans-serif;
}